

@media screen{
	.thumbnail{
		border-radius: 100%;
	}
	h2.tm-section-title-box {
    		font-size: 3em;
	}
	.tm-section-title-box:hover{
		background-color: #31b5d6;
		color: white;
		font-weight: bold;
	}
	p:first-letter{
		color: #76cdd7;
		font-size: 30px;
	}
	.tm-sidebar, .tm-content-box{
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
	}
	.margin-b-10::before{
		content: "";
		position: relative;
		top: 29px;
        	border-top: 30px solid #2aabd2;
        	border-right: 120px solid transparent;
        	z-index: 1;
	}
	section::before{
		content: "";
        	border-top: 30px solid #2aabd2;
        	border-right: 120px solid transparent;
        	z-index: 1;
	}
	.carousel-item .tm-section-title{
		color: gainsboro;
		letter-spacing: 5px;
	}
	h2 + p{
		font-style: italic;
	}
	p:not(.tm-banner-text) {
        	line-height: 2em;
        	text-indent: 1em;
    	}
     	a:visited {
  		color: #C0C0C0;
 	}
 	a.text::after{
 		content: "New";
 		font-size: 10px;
 		position: relative;
 		top: -4px;
		color: red;
 	}
 	a:hover {
 		color: #31b5d6;
  		border-bottom: 1px solid #31b5d6;
 	}
 	.tm-footer a:hover{
 		border-bottom: none;
 		color: #31b5d6;
 		text-decoration: none;
 	}
 	a{
 		color: black;
 	}
 	.heading h2{
 		color: #31b5d6;
 		text-align: center;
 	}
	.gallery-container .box:nth-child(odd) {
  		background: ghostwhite;
	}
	.boxes.gallery-container div > h2{
        	font-size: 2.8em;
        	border-bottom: 30px;
    	}
	.tm-content-box p{
		margin: 0 20px 20px 0;
		line-height: 30px;
		font-size: 1.3em;
		line-height: 1.5em;
		text-indent: initial;
		color: black;
	}
	.gallery-container p:first-letter{
		color: black;
	}
	input[type=text]::-webkit-input-placeholder {
		color: red !important;
	}
	#contact_email{
		color: gray;
	}
	.contact-form input[type=text], .contact-form button{
		color: red;
	}
	.mandatory-field:after{
		content: "*";
		color: red;
		font-weight: bold;
	}
	.submit-btn:hover{
		background: #31b5d6;
		color:white;
	}
 	.tm-nav-item:not(:last-of-type){
 		content: "";
 		border-bottom:silver 2px dotted;
 	}
}
@media print{
	h2.tm-section-title{
		color: blue;
	}
	.tm-sidebar,.gallery-container, section:not(:first-of-type){
        	display: none;
   	}
    	.tm-main-content{
        	margin-left: 0;
        	padding-left: 0;
    	}
    	.tm-banner{
        	height: 200px;
        	padding: unset;
    	}
    	.pad{
    		padding: 0 0 0 20px;
    	}
    	.flex-2-col{
		display: block;
    	}
    	.flex-item{
    		max-width: none;
    	}
    	.flex-item:last-child{
    		text-align: center;
    	}
}
